<h2>New Message</h2>

<%= form_for @message do |f| %>
  <%= f.label :number %>
  <div id = "numberfield">
    <p> Contact 1 :
      <select name="message[number][1]">
        <% Contact.all.each do |contact| %>
          <option value = "<%= contact.number %>">
            <%= contact.name %> (<%= contact.number%>)
          </option>
        <% end %>
      </select>
  </div>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= f.submit "Send" %>
  <div class="button" id="new-number">Add another contact</div>
<% end %>

<script>
  var number_of_numbers = 1

  $(document).ready(function(){
    $('#new-number').click(function(){
      number_of_numbers += 1
      $('#numberfield').append("<p> Contact "+ number_of_numbers + " : " +
                                 "<select name='message[number][" + number_of_numbers + "]'>" +
                                   <% Contact.all.each do |contact| %>
                                     "<option value = '<%= contact.number %>'>" +
                                       "<%= contact.name %>" +
                                     "</option>" +
                                   <% end %>
                                 "</select>");
    });
  });
</script>
